## 1. split-apply-combine

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

读取数据

In [ ]:
planets = sns.load_dataset("planets")
planets.head()

### 1.1 groupby

df.groupby()方法创建'分组数据框'对象，可理解为数据框的集合。

In [23]:
grouped = planets.groupby("method")

type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

对于分组数据框，最常见的操作是计算分类数据的描述统计量。

In [26]:
grouped.mean()

,number,orbital_period,mass,distance,year
method,,,,,
Astrometry,1.000000,631.180000,NaN,17.875000,2011.500000
Eclipse Timing Variations,1.666667,4751.644444,5.125000,315.360000,2010.000000
Imaging,1.315789,118247.737500,NaN,67.715937,2009.131579
Microlensing,1.173913,3153.571429,NaN,4144.000000,2009.782609
Orbital Brightness Modulation,1.666667,0.709307,NaN,1180.000000,2011.666667
Pulsar Timing,2.200000,7343.021201,NaN,1200.000000,1998.400000
Pulsation Timing Variations,1.000000,1170.000000,NaN,NaN,2007.000000
Radial Velocity,1.721519,823.354680,2.630699,51.600208,2007.518987
Transit,1.954660,21.102073,1.470000,599.298080,2011.236776
Transit Timing Variations,2.250000,79.783500,NaN,1104.333333,2012.500000

In [27]:
grouped["distance"].describe()  # 索引方法依旧适用，选择某一个变量，然后计算常规统计量

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,17.875000,4.094148,14.98,16.4275,17.875,19.3225,20.77
Eclipse Timing Variations,4.0,315.360000,213.203907,130.72,130.7200,315.360,500.0000,500.00
Imaging,32.0,67.715937,53.736817,7.69,22.1450,40.395,132.6975,165.00
Microlensing,10.0,4144.000000,2076.611556,1760.00,2627.5000,3840.000,4747.5000,7720.00
Orbital Brightness Modulation,2.0,1180.000000,0.000000,1180.00,1180.0000,1180.000,1180.0000,1180.00
Pulsar Timing,1.0,1200.000000,NaN,1200.00,1200.0000,1200.000,1200.0000,1200.00
Pulsation Timing Variations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Radial Velocity,530.0,51.600208,45.559381,1.35,24.4125,40.445,59.2175,354.00
Transit,224.0,599.298080,913.876990,38.00,200.0000,341.000,650.0000,8500.00
Transit Timing Variations,3.0,1104.333333,915.819487,339.00,597.0000,855.000,1487.0000,2119.00

'分组数据框'是可迭代对象，是(key, df)的集合。

In [28]:
for g,df in grouped:
    print(f"group={g}, shape={df.shape}")

group=Astrometry, shape=(2, 6)
group=Eclipse Timing Variations, shape=(9, 6)
group=Imaging, shape=(38, 6)
group=Microlensing, shape=(23, 6)
group=Orbital Brightness Modulation, shape=(3, 6)
group=Pulsar Timing, shape=(5, 6)
group=Pulsation Timing Variations, shape=(1, 6)
group=Radial Velocity, shape=(553, 6)
group=Transit, shape=(397, 6)
group=Transit Timing Variations, shape=(4, 6)

### 1.2 aggregate

In [30]:
grouped.aggregate(["min", max, np.sum])

                              number          orbital_period                 \
                                 min max  sum            min            max
method
Astrometry                         1   1    2     246.360000    1016.000000
Eclipse Timing Variations          1   2   15    1916.250000   10220.000000
Imaging                            1   4   50    4639.150000  730000.000000
Microlensing                       1   2   27    1825.000000    5100.000000
Orbital Brightness Modulation      1   2    5       0.240104       1.544929
Pulsar Timing                      1   3   11       0.090706   36525.000000
Pulsation Timing Variations        1   1    1    1170.000000    1170.000000
Radial Velocity                    1   6  952       0.736540   17337.500000
Transit                            1   7  776       0.355000     331.600590
Transit Timing Variations          2   3    9      22.339500     160.000000

                                               mass                     \
                                        sum     min    max         sum
method
Astrometry                     1.262360e+03     NaN    NaN     0.00000
Eclipse Timing Variations      4.276480e+04  4.2000   6.05    10.25000
Imaging                        1.418973e+06     NaN    NaN     0.00000
Microlensing                   2.207500e+04     NaN    NaN     0.00000
Orbital Brightness Modulation  2.127920e+00     NaN    NaN     0.00000
Pulsar Timing                  3.671511e+04     NaN    NaN     0.00000
Pulsation Timing Variations    1.170000e+03     NaN    NaN     0.00000
Radial Velocity                4.553151e+05  0.0036  25.00  1341.65638
Transit                        8.377523e+03  1.4700   1.47     1.47000
Transit Timing Variations      2.393505e+02     NaN    NaN     0.00000

                              distance                      year        \
                                   min      max        sum   min   max
method
Astrometry                       14.98    20.77      35.75  2010  2013
Eclipse Timing Variations       130.72   500.00    1261.44  2008  2012
Imaging                           7.69   165.00    2166.91  2004  2013
Microlensing                   1760.00  7720.00   41440.00  2004  2013
Orbital Brightness Modulation  1180.00  1180.00    2360.00  2011  2013
Pulsar Timing                  1200.00  1200.00    1200.00  1992  2011
Pulsation Timing Variations        NaN      NaN       0.00  2007  2007
Radial Velocity                   1.35   354.00   27348.11  1989  2014
Transit                          38.00  8500.00  134242.77  2002  2014
Transit Timing Variations       339.00  2119.00    3313.00  2011  2014


                                   sum
method
Astrometry                        4023
Eclipse Timing Variations        18090
Imaging                          76347
Microlensing                     46225
Orbital Brightness Modulation     6035
Pulsar Timing                     9992
Pulsation Timing Variations       2007
Radial Velocity                1110158
Transit                         798461
Transit Timing Variations         8050

In [31]:
grouped.aggregate({"number": np.min, "distance": np.max})

                               number  distance
method
Astrometry                          1     20.77
Eclipse Timing Variations           1    500.00
Imaging                             1    165.00
Microlensing                        1   7720.00
Orbital Brightness Modulation       1   1180.00
Pulsar Timing                       1   1200.00
Pulsation Timing Variations         1       NaN
Radial Velocity                     1    354.00
Transit                             1   8500.00
Transit Timing Variations           2   2119.00

### 1.3 filter

In [32]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': np.random.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      7
1   B      1      9
2   C      2      3
3   A      3      0
4   B      4      3
5   C      5      5

In [33]:
df.groupby("key").filter(lambda x: x["data1"].sum() > 4)

  key  data1  data2
1   B      1      9
2   C      2      3
4   B      4      3
5   C      5      5

### 1.4 transform

In [17]:
df.groupby("key").transform(lambda x: x - x.mean())

   data1  data2
0   -1.5    2.0
1   -1.5   -2.5
2   -1.5    3.0
3    1.5   -2.0
4    1.5    2.5
5    1.5   -3.0

### 1.5 apply

In [19]:
def add_data(x):
    x["data3"] = x["data1"] + x["data2"].mean()
    return x

df.groupby("key").apply(add_data)

  key  data1  data2  data3
0   A      0      9    7.0
1   B      1      3    6.5
2   C      2      6    5.0
3   A      3      5   10.0
4   B      4      8    9.5
5   C      5      0    8.0